

@media (max-width:768px) {
    .navbar-links{
        display:none;
        
    }
    .toggle-button{
        display:block;
    }
    .icon{
        color: red;
    
    } 
    .navbar{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
    }
    .nav-li{
        text-align: center;
    }
    .navbar-links.active{
        display: block;
    }
}
