/* header-style */

.container{
    max-width:1318px;
    width: 100%;
    margin: 0 auto;
    padding-top:39px;
     position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightgray;
    
}

.nav-ul{
    display: flex;
     padding-right: 50px; 
     margin-top: 103px;
 
   
}
.nav-li{
    margin: 16px;
}
.nav-a{
    font-size: 20px;
    color: rgb(32, 29, 29); 

}
.nav-li:last-child{
    font-weight: bolder;
}
.toggle-button{
    position: absolute;
    top:70px;
    right:20px;
    font-size:30px;
    color: red;
    display: none;
    
}
.icons{
    position: absolute;
    top:60px;
    right:0;
   
} 
.icon{
    width: 40px;
    height: 40px;
    
} 
 .icon1{
    margin: 0 28px;
}








/* container1 style */
.container1{
    max-width: 1306px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 62px;
   
}


.test{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 202px;
    height: 800px;

}


.test:nth-child(1){
    background-image: url(../images/bylove.jpg);
}
.test:nth-child(2){
    background-image: url(../images/kaba.jpg);
}
.test:nth-child(3) {
    background-image: url(../images/bysolo.jpg);
}
.test:nth-child(4) {
    background-image: url(../images/comode.jpg);
}
.test:nth-child(5) {
    background-image: url(../images/paraiso.jpg);
}
.test:nth-child(6) {
    background-image: url(../images/zoma.jpg);
}


.text{
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    font-size: 70px;
    margin-left: 5%;
    color: #FFFFFF;
    margin-bottom: 28px;
}



.block1{
    width: 202px;
    background-image: url(../images/bylove.jpg );
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
    padding: 90px;

}
.block2{
    width: 202px;
    background-image: url(../images/kaba.jpg );
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}
.block3{
    width: 202px;
    background-image: url(../images/bysolo.jpg );
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}
.block4{
    width: 202px;
    background-image: url(../images/comode.jpg );
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}
.block5{
    width: 202px;
    background-image: url(../images/paraiso.jpg);
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}
.block6{
    width: 202px;
    background-image: url(../images/zoma.jpg);
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}


/* footer style */
.container-footer{
    max-width:1600px;
    width: 100%;
    margin: 0 auto;
    padding-left: 146px;
    padding-right: 180px;
    background-color: #EAEAEA;
    padding-top: 61px;
 
  
}
.right{
    width: 970px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
   
}

.left{
    display: flex;
    flex-direction: column;
    margin-right: 148px;
    
}

.social-icons{
    margin-top: 46px;
}
.media{
    color:#707070;
    font-size: 30px;
    margin-right: 15px;
}
   
.box h3{
    font-size: 24px;
    color: #EA853E;
    margin-bottom: 26px;
   
}

.box li{
    font-size: 14px;
    color:#272424;
    margin-bottom: 25px;
}
.last{
    display: flex;
    justify-content: space-between;
    margin-top:63px;
    padding-bottom: 30px;
}
.last p{
    font-size: 15px;
    color:#272424;
}

/* section- form */
.container-sale{
    max-width: 1302px;
    width: 100%;
    height: 135px;
    margin: 0 auto;
    margin-top: 27px;
    
}
.container-sale::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#707070;
    left: 0;
    top:200px;
        
     
}
.input{
    margin: 0 20px;
    width: 202px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
    font-family: fontawesome;
    position: relative;
    border-color: #707070;
    

}

.title{
    padding-top:22px;
    margin-bottom:22px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.eto1{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}



.fa-search{
    padding:10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* section-shoes */
.container-shoes{
    max-width:1309px;
    width: 100%;
    margin: 0 auto;
    background-color:#FFFFFF;
    margin: 0 auto;
}


.image-block{
    width: 423px;
    margin-bottom:45px ;
}
.wrapper{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.price{
    display: flex;
   align-items: center;
}
.title1{
    font-size: 24px;
    font-weight: bold;
    padding:11px 320px 6px 22px;
}
.title2{
    font-size: 24px;
    color: #E88547;
    font-weight: bold;
    margin-right:14px;
    margin-left: 22px;
 
}
.title3{
    font-size: 16px;
    color:#707070;
}