/* header-style */

.container{
    max-width:1328px;
    width: 100%;
    margin: 0 auto;
    padding-top:39px;
     position: relative;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightgray;
    padding: 0 10px;
    
}

.nav-ul{
    display: flex;
     padding-right: 50px; 
     margin-top: 103px;
 
   
}
.nav-li{
    margin: 16px;
}
.nav-a{
    font-size: 20px;
    color: rgb(32, 29, 29); 

}
.nav-li:last-child{
    font-weight: bolder;
}
.toggle-button{
    position: absolute;
    top:70px;
    right:20px;
    font-size:30px;
    color: red;
    display: none;
    
}
.icons{
    position: absolute;
    top:60px;
    right:0;
    padding:0 10px;
   
} 
.icon{
    width: 40px;
    height: 40px;
    
} 
 .icon1{
    margin: 0 28px;
}








/* container1 style */
.container1{
    max-width: 1306px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 62px;
   
}


.test{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 202px;
    height: 800px;

}


.test:nth-child(1){
    background-image: url(../images/bylove.jpg);
    background-size:cover ;
    background-position-y: 20%;
    background-position-x: 38%;
}
.test:nth-child(2){
    background-image: url(../images/kaba.jpg);
    background-size:cover ;
    background-position-y: 20%;
    background-position-x: 70%;
    
}
.test:nth-child(3) {
    background-image: url(../images/bysolo.jpg);
    background-size:cover ;
    background-position-y: 20%;
    background-position-x: 75%;
}
.test:nth-child(4) {
    background-image: url(../images/comode.jpg);
    background-size:cover ;
    background-position-y: 20%;
    background-position-x: 45%;
}
.test:nth-child(5) {
    background-image: url(../images/paraiso.jpg);
    background-size:cover ;
    background-position-y: 20%;
    background-position-x: 5%;
}
.test:nth-child(6) {
    background-image: url(../images/zoma.jpg);
    background-size:cover ;
    background-position-y: 20%;
    background-position-x: 50%;
}


.text{
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    font-size: 70px;
    margin-left: 5%;
    color: #FFFFFF;
    margin-bottom: 28px;
}



.block1{
    width: 202px;
    background-image: url(../images/bylove.jpg );
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
    padding: 90px;

}
.block2{
    width: 202px;
    background-image: url(../images/kaba.jpg );
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position-x: left;
    position: relative;
}
.block3{
    width: 202px;
    background-image: url(../images/bysolo.jpg );
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}
.block4{
    width: 202px;
    background-image: url(../images/comode.jpg );
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}
.block5{
    width: 202px;
    background-image: url(../images/paraiso.jpg);
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}
.block6{
    width: 202px;
    background-image: url(../images/zoma.jpg);
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
    position: relative;
}


/* footer style */
.container-footer{
    max-width:1600px;
    width: 100%;
    margin: 0 auto;
    padding-left: 146px;
    padding-right: 180px;
    background-color: #EAEAEA;
    padding-top: 61px;
 
  
}
.left img{
    width: 162px;
}
.right{
    width: 970px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
   
}

.left{
    display: flex;
    flex-direction: column;
    margin-right: 148px;
    
}

.social-icons{
    margin-top: 46px;
}
.media{
    color:#707070;
    font-size: 30px;
    margin-right: 15px;
}
   
.box h3{
    font-size: 24px;
    color: #EA853E;
    margin-bottom: 26px;
   
}

.box li{
    font-size: 14px;
    color:#272424;
    margin-bottom: 25px;
}
.last{
    display: flex;
    justify-content: space-between;
    margin-top:63px;
    padding-bottom: 30px;
}
.last p{
    font-size: 15px;
    color:#272424;
}

/* section- form */
.container-sale{
    max-width: 1302px;
    width: 100%;
    height: 135px;
    margin: 0 auto;
    margin-top: 27px;
    
}
.container-sale::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#707070;
    left: 0;
    top:200px;
        
     
}
.select{
    margin-right:20px;
    width: 202px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
    font-family: fontawesome;
    position: relative;
   
}

.title{
    padding-top:22px;
    margin-bottom:22px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}





.fa-search{
    padding:10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* section-shoes */
.container-shoes{
    max-width:1309px;
    width: 100%;
    margin: 0 auto;
    background-color:#FFFFFF;
    margin: 0 auto;
}


.image-block{
    width: 423px;
    margin-bottom:45px ;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image-block img{
    margin-bottom: 11px;
}
.price{
    display: flex;
   align-items: center;
}
.title1{
    font-size: 24px;
    font-weight: bold;
    padding:11px 320px 6px 22px;
    
    
}
.title2{
    font-size: 24px;
    color: #E88547;
    font-weight: bold;
    margin-right:14px;
    margin-left: 22px;
    margin-top: 5px;
 
}
.title3{
    font-size: 16px;
    color:#707070;
    text-decoration: line-through;
}



/* cotainer3 */

.container3{
    max-width: 1318px;
    width: 100%;  
    margin: 0 auto;
   


}
.top{
    display: flex;
    justify-content: space-between;
}
.left-block{
   max-width: 645px;
   width: 100%;
   padding-left: 5px;
}
.image4{
    display: flex;
    justify-content: space-between;
   
}

.right-block{
    max-width: 574px;
    width: 100%;
    height: 601px;
    padding-left: 5px;
   
    margin-top: 81px;
    padding: 5px;
    
}
.top-bg{
    display: flex;
    justify-content: space-between;

}
.middle-bg{
    display: flex;

}
.middle-bg1{
    margin-right: 16px;
    font-size: 16px;
    font-weight: bold;
}
.middle-bg1 p{
    margin-top: 23px;
}
.middle-bg2{
    font-size: 16px;
}
.middle-bg2 p{
    margin-top: 23px;
}

.title4{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 9px;
}
.title5{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}
.title6{
    font-size: 24px;
    color: #E88547;
    font-weight: bold;
    margin-right:14px;
    
}
.bottom-bg{
    display: flex;
}
.bottom-bg p{
    font-size: 25px;
    font-weight: bold;
    margin-right: 16px;
    width: 56px;
    height: 44px;
    padding: 6px 14px 13px 14px;
    border-radius: 6px;
    border: 1px solid #6F6F6F;
    margin-top: 29px;
    margin-bottom: 46px;    
}
.bottom-bg1{
    display: flex;
}
.title7{
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    background-color: #BA785A;
    margin-right: 15px;
    border-radius: 10px;
    padding: 10px 23px 18px 42px;
    color: #FFFFFF;

}
.title8{
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    background-color: #E88547;
    border-radius: 10px;
    padding: 10px 55px 18px 63px;
    color: #FFFFFF;
}
.middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 152px;
    margin-top:68px;
    margin-bottom: 58px;
    
}

.middle :nth-child(1){
   font-size: 25px;
   font-weight: bold;
}
.middle :nth-child(2){
    font-size: 50px;
    font-weight: bold;
    }

.middle :nth-child(3){
    font-size: 25px;
    margin-right: 65px;
    font-weight: bold;
    margin-left: 125px;
}
.middle :nth-child(4){
    font-size: 50px;
    font-weight: bold;
    color: #707070;
    }

.middle :nth-child(5){
    font-size: 25px;
    font-weight: bold;
    margin-left: 152px;
    margin-left: 27px;
}
.middle :nth-child(6){
    font-size: 50px;
    font-weight: bold;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid #E6823C;
    padding: 50px 45px 60px 45px;
    }
.bottom{
    display: flex;
    justify-content: space-between;
}
    
.input{
    width:415px;
    height:59px;
    border-radius: 30px;
    margin-top: 45px;

}
.input:focus{
    outline: none;
}
.input::placeholder{
    font-size: 20px;
    font-weight: bold;
    color: #707070;
   padding-left: 33px;
}
.bottom-left h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 51px;
}
.test1 i{
    width: 70px;
    height: 42px;
    color: black;
}
.bg{
    width: 77px;
    height: 73px;
    border-radius: 100px;
    border: 1px solid #707070;
    padding: 16px 20px 16px 20px;
    margin-right: 25px;
}
.bottom-right{
    max-width: 719px;
    width: 100%;
    
}
.block-bg{
    display: flex;
   
}
.block-bg1{
    display: flex;
    margin-top: 51px;
    margin-bottom: 51px;
}
.block-bg1 p{
    width: 424px;
    font-size: 15px;
}
.block-bg p{
    width: 424px;
    font-size: 15px;
    
    
}
.fa-user{
   font-size: 40px;
}
.fa-thumbs-up, .fa-thumbs-down, .fa-reply{
    font-size: 22px;
    color: #C1C1C1;
}
.fas-box{
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}
.bottom-right h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.wraper-last{
    display: flex;
    justify-content: space-between;
}
.last{
    max-width: 1312px;
    width: 100%;
}
.last h3{
    width: 200px;
}
/*  */
/* .product_preview{
    background-color: burlywood;
    
}
.top-side{
width: 60%;
height: 600px;
background-position: 50%;
background:no-repeat;
margin: 10px auto;
} */
 .product_preview {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    background-color: antiquewhite;
}
.left-side {
    background-color: bisque;
    /* display: flex;
    flex-direction: column;
    max-width: 30%;
    justify-content: space-between; */
}
img {
    margin: 1%;
    height: 90px;
}
img:hover {
    cursor: pointer;
}
.right-side {
    display: inline-block;
    width: 60%;
    height: 700px;
    /* background-position: 50%; */
    background: no-repeat;
    margin: 10px auto;
}